<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Invitado</title>
<script src="https://cdn.tailwindcss.com"></script>

 <style>
        #id_nombre, #id_apellido, #id_telefono, #id_evento {
            width: 100%;
            padding: 0.5rem 1rem;
            background-color: #1f2937;
            border: 1px solid #4b5563;
            border-radius: 0.5rem;
            color: white;
        }
    </style>

</head>

<body class="bg-slate-900 flex items-center justify-center min-h-screen text-white">

<div class="bg-gray-800 p-8 rounded-xl shadow-lg w-full max-w-md">

<h2 class="text-2xl font-bold text-yellow-400 mb-6 text-center">
    {% if form.instance.pk %}
        Editar Invitado
    {% else %}
        Crear Invitado
    {% endif %}
</h2>

<form method="POST">
    {% csrf_token %}

    <!-- EVENTO -->
    <div class="mb-4">
        <label>Evento</label>
        {{ form.evento }}
    </div>

    <!-- NOMBRE -->
    <div class="mb-4">
        <label>Nombre</label>
        {{ form.nombre }}
    </div>

    <!-- APELLIDO -->
    <div class="mb-4">
        <label>Apellido</label>
        {{ form.apellido }}
    </div>

    <!-- TELÉFONO -->
    <div class="mb-4">
        <label>Teléfono</label>
        {{ form.telefono }}
    </div>

    <!-- BOTONES -->
    <div class="flex justify-between mt-6">

        <a href="{% url 'listaInvitados' %}" 
           class="bg-yellow-500 text-black px-4 py-2 rounded-lg font-bold hover:bg-yellow-400">
            Volver
        </a>

        <button type="submit" 
            class="bg-yellow-400 text-black px-5 py-2 rounded-lg font-bold hover:bg-yellow-300">
            Guardar
        </button>

    </div>

</form>

</div>

</body>
</html>